

{% block content %}

<table class="table  table-sm table-hover table-responsive col-md-9  offset-1" >
    <thead>
      <tr class="table-primary">
                
                        <th>Codigo </th>
                        <th>Producto</td>
                        <th>Fecha De Pedido</th>
                        <th>Unidades/Pedidas</th>
                        <th>Empresa</th>
                    
                        

                        
                     </tr>
                 </thead>
     
           
            <tbody>
                {% if pedidos%}
                {% for pedido in pedidos%}
                <tr class="text-center"">
                    <td> {{pedido.producto_a_pedir.id}}</td>{# id del pedido de cada producto y no del articulo #}
                    <td> {{pedido.producto_a_pedir}}</td>
                    <td> {{pedido.fecha_compra}}</td>
                    <td> {{pedido.cantidad}}   </td>
                    <td>
                     {{pedido.empresa_proveedor}}
                       
                    </td>
                   
                </tr>
                  <style>
                  .text-center {text-align: center} /*For center align*/
                  </style>
                    
               

                {%endfor%}
                {%else%}
                <h1>No hay ningun Producto en pedidos</h1>
                 <td>vacio</td>
                 <td>vacio</td>
                 <td>vacio</td>
                 <td>vacio</td>
                 <td>vacio</td>
                
                 
                     
                {%endif%}
            </tbody>
        </table>
        
                
         
    </div>    
</div>
{% endblock content %}