
{% block content %}


<table class="table  table-sm table-hover table-responsive col-md-8  offset-1" >
        <thead>
            <tr class="table-primary">
                <th>Id</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Empresa</th>
                <th>NIT</td>
                <th>Telefono</th>
                <th>Direccion</th>
               
                
             </tr>
         </thead>

   
    <tbody>
            {% if proveedores%}
            {% for proveedor in proveedores%}
        <tr>
            <tr></tr>
            <td> {{proveedor.id}}</td>
            <td> {{proveedor.usuario.first_name}}</td>
            <td> {{proveedor.usuario.last_name}}</td>
            <td> {{proveedor.empresa_proveedor.nombre_empresa}}</td>
            <td> {{proveedor.nit}}</td>
            <td> {{proveedor.telefono}}</td>
            <td> {{proveedor.direccion}}</td>
          
           
            
          
        </tr>
       

        {%endfor%}
        {%else%}
        <div class="container col-md-8  offset-1">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat molestiae commodi doloribus fugiat sit blanditiis neque, exercitationem doloremque quod facilis accusamus asperiores, nobis ducimus distinctio saepe assumenda hic amet numquam.
        </div>
             
            
        {%endif%}
    </tbody>
</table>

{% endblock content %}