{% extends 'empresas_index.html' %}
{% block content %}
<div class="row container-fluid col-md-5 offset-2">
	
	<style>
		.delete{
			background-color: rgb(227, 226, 241);
			border-radius: 5px;
			padding: 15px;
			box-shadow: 5px 5px 5px #AFACAD;
            
	
			}			
			
	</style>

	     <div class="">
	      <div class="delete">
			    <form method="post" >

			    	{% csrf_token %}{# token de seguridad #}
			    	<h2><p class="help-block"></p>¿Desea eliminar el registro {{object.nombre_empresa}} de la base de datos?</p></h2>
			    	<button class="botones btn btn-danger"type="submit">Si</button>
			    	<a class="btn btn-default"href="{% url 'perfil:empresas_list' %}">Cancelar</a>
			    </form>
		   </div> 
	     </div>	
	     
</div>  
  
{% endblock content %}