
{% extends 'base/base_menu.html' %}
		
		
 
{% block content %}
   <br>

	<div class="">
	
    <div class="row">
        <div class="col-sm-2">
            <nav class="nav-sidebar">
                <ul class="nav">
                    <li class="active"><a href="">Menu Control Inventario</a></li>
                    <li class="nav-tabs"></li>
                    <li><a href="">Productos fuera de stock</a></li>
                    <li class="nav-tabs"></li>
                    <li><a href="">Productos en Salida</a></li>
                    <li class="nav-tabs"></li>
                    <li><a href="">Ver mas pedidos</a></li>
                    <li class="nav-tabs"></li>
                    <li><a href=""> Ver menos pedidos</a></li>
                     
                    
                </ul>
            </nav>
        </div>
        
{% endblock %}

