{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card mt-5">
                <div class="card-header">
                    <h5 class="card-title text-center">Ingresar</h5>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="username" class="form-label">Nombre de Usuario</label>
                            <input type="text" id="username" name="username" class="form-control" placeholder="Nombre de Usuario">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Clave</label>
                            <input type="password" id="password" name="password" class="form-control" placeholder="Clave">
                        </div>
                        <button type="submit" class="btn btn-primary">Ingresar</button>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <a class="btn btn-block btn-secondary">Recuperar contraseña</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
