{% extends 'base/base_menu.html' %}

{% block title %}Productos{% endblock %}

{% block side_bar %}
<div class="container bg-dark p-3 border rounded border-3 border-dark mt-3 text-white">
    <ul class="nav flex-column">
        <h3 class="container">Mercadería</h3>
        <li class="nav-item">
            <a class="btn btn-dark" href="{% url 'productos:productos_listar' %}">Lista de Articulos</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-dark" href="{% url 'productos:buscar_producto' %}">Buscar por ID/Categoría</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-dark" href="{% url 'productos:productos_nuevo' %}">Crear artículo</a>
        </li>
    </ul>
</div>
{% endblock side_bar %}

{% block content %}
<div class="container bg-dark p-3 border rounded border-3 border-dark mt-3 text-white">
    <h4 class="display-4">Consulta de Productos</h4>
    <p class="lead">Cómo puedes encontrar nuestro manual de usuario.</p>
    <hr class="my-4">
    <p class="lead">Si estás logeado, recuerda cerrar sesión al terminar tu trabajo.</p>
    <br>
    <p class="lead">
        <a class="btn btn-secondary btn-sm" href="#" role="button">Leer más...</a>
    </p>
</div>

{% endblock content %}
