{% extends 'empresas_index.html' %}
{% load static %}

{% block extraheader %}

{% endblock extraheader %}

{% block content %}
<div class="container mt-1 bg-dark">
    <div class="row">
        <div class="">
            <div class="card-header bg-dark text-white p-1">
                <h4>Stock por empresa</h4>
            </div>
            <form method="get">
                <p class="form-group p-1">{{ filter.form.empresa_proveedor }}</p>
                <button class="btn btn-secondary btn-sm mb-1" type="submit">Buscar</button>
            </form>
        </div>
    </div>

    <table class="table table-dark table-hover mt-3">
        <thead>
            <tr>
                <th>ID</th>
                <th class="text-center">Artículo</th>
                <th>STOCK</th>
            </tr>
        </thead>
        <tbody>
            {% if object_list %}
            {% for producto in filter.qs %}
            <tr class="table-dark-hover">
                <td>{{ producto.id }}</td>
                <td class="text-center">{{ producto.nombre }}</td>
                <td>{{ producto.inventario }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="3">No hay artículos</td>
            </tr>
            {% endif %}
        </tbody>
    </table>

    <p></p>
</div>
{% endblock content %}
