{% extends 'index_inventario.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="card border-primary offset-1 col-md-6 fondo">
	<div class="card-body">
		<h4 class="card-title card border-primary">Pedido</h4>
		<p class="card-text text-center card border-primary col-md-10 offset-1">Compra de articulos</p>
		<form method="post" class="card-body offset-1">
				{% csrf_token %}
					{{form|crispy}}
			
				<br>
				<button class="botones btn-primary offset-10"type="submit">PEDIR</button>
			
		</form>
	</div>
	
</div>
 {% endblock content %}
