{% extends 'index_productos.html' %} {% load staticfiles %} 
{% block extraheader %}


{% endblock extraheader %} {% block content %}

<div  class="col-md-8 offset-1">
			
    <div  id="formularios" class="fondo ">
            <div class="card-header"> 
                    <h4>Articulo Nuevo</h4>
                </div>
        <form method="post" class="card-body">
            {% csrf_token %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Nombre Articulo</span>
                </div>
                <input name="nombre" type="text"value="{{object.nombre}}" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" disabled>
            </div>
            
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Detalles del Articulo</span>
                </div>
                <input name="nombre" type="text"value="{{object.descripcion}}" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" disabled>
            </div>
            
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Marca</span>
                </div>
                <input name="marca" type="text" value="{{object.marca}}" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" disabled>
            </div>

            <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Precio Unitario</span>
                    </div>
                    <input name="precio_unitario" type="text"value="{{object.precio_unitario}}" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" disabled>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Inventario actual</span>
                </div>
                <input name="inventario" type="number" value="{{object.inventario}}" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" disabled>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Factor de empaque</span>
                </div>
                <input name="factor_de_empaque" type="text" value="{{object.factor_de_empaque}}" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" disabled>
            </div>
            <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Empresa Proveedor</span>
                    </div>
                    <input name="empresa_proveedor" type="text"value="{{object.empresa_proveedor}}" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" disabled>
            </div>
                <div class="input-group mb-3">
                    <br>
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Categoria</span>
                    </div>

                    <input name="categoria" type="text" value="{% for categoria in producto.categoria.all %}| {{ categoria }}|{% endfor %}" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" disabled>
                </div>
                <br>
                <br>
               
                    
                        <a class="botones btn btn-info" href="{% url 'productos:productos_listar' %}">Ir a catalogo de productos</a>
                                                  
                 
                </div>
            <style>
            .card-footer,.card-header{
                border-radius: 10px;
            }
            </style>
    </form>
    




                
</div>
            
</div>
<!-- <script src="{% static 'TableFilter/tablefilter.js'%}"></script> -->


<!-- <script src="{% static 'js/fecha.js'%}"></script> -->
<!--llamando el archivo de fitro DataTables-->

{% endblock %}
