{% extends 'empresas_index.html' %}

{% block content %}

        <table class="table table-responsive col-md-8  offset-1">
            <thead>
                <tr  class="table-primary" >
                    <th>Codigo</th>
                    <th>Nombre</th>
                  
                </tr>
            </thead>
            <tbody>
                <tr>
                   {% if object_list%}
            {% for categoria in object_list%}
            <tr>
                <td> {{categoria.id}}</td>
                <td> {{categoria.nombre}}</td>
                {% comment %} <td> 
                    {% for empresa in categoria.empresa.all %} 
                    {{ empresa }}
                    {% endfor %}
                </td> {% endcomment %}
                
            </tr>
            

            {%endfor%}
            {%else%}
            <h1>No Categorias en Registro</h1>
            <td>vacio</td>
                                
            {%endif%}
                </tr>
                
            </tbody>
        </table>
        
            
       
    
{% endblock content %}
