{% extends 'index_productos.html' %} {% load staticfiles %} 
{% block content %} 
{% block extraheader %}
<link rel="stylesheet" href="{% static 'css/filtro.css' %}">
<script src="{% static  'Jquery/jquery-1.12.4.js' %}"></script>
<script src="{% static  'Jquery/datatables.min.js' %}"></script>
<script src="{% static  'Jquery/filtro.js' %}"></script>

{% endblock extraheader %}


<table class="table  table-sm table-hover table-responsive col-md-9  offset-1" >
    <thead>
      <tr class="table-primary">
          <th>Codigo</th>
          <th>Nombre</th>
          {% comment %} <th>Descripcion</th> {% endcomment %}
          <th>Marca</th>
          <th>Precio/Unidad</th>
          <!-- <th>Iva</th>
          <th>Precio Iva incluido</th> -->
          {% comment %} <th>U/caja</th> {% endcomment %}
          <th>Stock</th>
          <th>Empresa</th>
          <th>Categorias</th>
          <th>Opcion 1</th>
          <th>Opcion 2</th>
          <th>Opcion 3</th>
        </tr>
      </thead>

      <tbody>


        <tr>


          {% if object_list %} {% for producto in object_list %}
          <td> {{producto.id}}</td>
          <td> {{producto.nombre}}</td>

          {% comment %} <td> {% if producto.descripcion %}{{producto.descripcion}}{%else%}No hay descripcion...{%endif%}</td> {% endcomment %}
          <td> {{producto.marca}} </td>
          <td> {{producto.precio_unitario}}</td>
          
          {% comment %} <td> {{producto.factor_de_empaque}}</td> {% endcomment %}
          <td> {{producto.inventario}}</td>
          <td> {{producto.empresa_proveedor}}</td>
          <td> {% for categoria in producto.categoria.all %} 
          |{{ categoria }}|
           {% endfor %}
          </td>
          <td>
              <a class="botones btn btn-primary" href="{% url 'productos:productos_editar' producto.id%}">Editar</a>
          </td>
          <td>
              <a class="botones btn btn-danger" href="{% url 'productos:productos_eliminar' producto.id%}">Eliminar</a>
          </td>
          <td>
              <a class="botones btn btn-info" href="{% url 'productos:productos_detail' producto.id%}">Detalles</a>
          </td>
        </tr>


        {%endfor%} {%else%}
        <td>vacio</td>
        <td>vacio</td>
        <td>vacio</td>
        <td>vacio</td>
        <td>vacio</td>
        <td>vacio</td>
        <td>vacio</td>
        <td>vacio</td>
        <td>vacio</td>
        <td>vacio</td>
        
        
        
        {%endif%}
      </tbody>
    </table>

  {% if is_paginated %}
<div class="col md-3 offset-4">
<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li  class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">ANTERIOR</a></li>
    {% else %}
      <li class="disabled page-item" > <span class="page-link">ANTERIOR</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active page-item"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}  
        <li><a class="page-link " href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a class="page-link " href="?page={{ page_obj.next_page_number }}">SIGUIENTE</a></li>
    {% else %}
    <li class="disabled page-item" > <span class="page-link">SIGUIENTE</span></li>
    {% endif %}
  </ul>
</nav>
</div>
{% endif %}


  </div>
</div>

 <br>
    <div class="col-md-8 offset-7 ">
      <td>
        <a class="botones btn btn-success" href="{% url 'productos:productos_nuevo' %}">Nuevo Producto</a>
      </td>
        <button type="button" class="botones btn btn-primary" id="my_button" onclick="mostrar()">Informacion</button>

    </div>
   
  <div class="col-md-8 offset-3 ">
      <div id="my_table">
        <h3><p class="help-block">Esta tabla muestra los productos disponibles en el catalogo</p></h3>
      </div>

  </div>
  </div>
</div>

<br>
<br>







<script type="text/javascript">
  $("#my_table").hide(); //lo primero que ejecutara

  function mostrar() {

    let text = "";
    //para comparar string en javascript
    //se utiliza triple '='
    if ($("#my_button").text() === "Informacion") {
      $("#my_table").show();
      text = "Cerrar";

    } else {
      $("#my_table").hide();
      text = "Informacion";

    }
    $("#my_button").html(text);
  }
</script>



{% endblock content %}
