{%extends 'index_productos.html' %}{# heredando de base_menu #}
{% load staticfiles %}

{% block content %}
	<div  class="col-md-6 offset-1">
			
		<div  id="formularios" class="fondo ">
				<div class="card-header"> 
                        <h4>Articulo Nuevo</h4>
                    </div>
			<form method="post" class="card-body">
				{% csrf_token %}
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="inputGroup-sizing-default">Nombre Articulo</span>
					</div>
					<input name="nombre" type="text"value="{{object.nombre}}" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" required>
				</div>
				
					<div class="form-group">
						<span class="input-group-text" id="inputGroup-sizing-default">Descripcion
							{{form.descripcion}}
						</span>
					</div>
				
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="inputGroup-sizing-default">Marca</span>
					</div>
					<input name="marca" type="text" value="{{object.marca}}" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" required>
				</div>

				<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text" id="inputGroup-sizing-default">Precio Unitario</span>
						</div>
						<input name="precio_unitario" type="text"value="{{object.precio_unitario}}" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" required>
				</div>

				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="inputGroup-sizing-default">Inventario actual</span>
					</div>
					<input name="inventario" type="number" value="{{object.inventario}}" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
				</div>
				<div class="input-group mb-3">
						<div class="input-group-prepend">
							<label class="input-group-text" for="inputGroupSelect01">Factor de empaque</label>
						</div>
						<select name="factor_de_empaque" value="{{object.factor_de_empaque}}"class="custom-select" id="inputGroupSelect01">
							<option type="select"  {{form.factor_de_empaque}}</option>
						</select>
					</div>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
								<label class="input-group-text" for="inputGroupSelect01">Empresa</label>
							</div>
							<select name="empresa_proveedor" value="{{object.empresa_proveedor}}" class="custom-select" id="inputGroupSelect01">
								<option type="select" {{form.empresa_proveedor}}</option>
							</select>
						
					</div>
					<div class="card-footer"> 
						
						<label class="form-check-label" for="check2">
						<option  value="{{object.categoria}}"><p> {% for categoria in form.categoria %} 
								<br>{{categoria}}{% endfor %}</p></option>
				
					</div>	
					<br>
						<strong> <span class="help-block">Antes de guardar la informacion asegurese que los datos son correctos.</span></strong>

					<br>	
					<button  type="submit" class="botones btn btn-primary btn-block">Guardar</button>
					<br>
					<br>
					<br>
					
				<style>
				.card-footer,.card-header{
					border-radius: 10px;
				}
				</style>
		</form>
		




					
	</div>
				
	</div>
	
{% endblock content %} 

<br>
