{%extends 'base/base_menu.html' %}{# heredando de base_menu #}
{% block content %}
<div class="container">
	<div class="row">
	     <div class="col-md-offset-3 col-md-5">
		    <form method="post">
		    	{% csrf_token %}{# token de seguridad #}
		    	<h2>¿Desea eliminar el registro {{object.producto_a_pedir}} de la lista de pedido?</h2>
		    	<button class="botones btn btn-danger"type="submit">Si</button>
		    	<a class=" botones btn btn-default"href="{% url 'productos:pedido_list' %}">Cancelar</a>
		    </form>

	     </div>
	</div>
</div>

{% endblock content %}
