{%extends 'base/base_menu.html' %}{# heredando de base_menu #}
{% block content %}
<div class="container">
	<div class="row ">
	<style>
		.delete{
			background-color: #C6E3F6;
			border-radius: 5px;
			padding: 5px;
			box-shadow: 5px 5px 5px #AFACAD;
		
	
			}			
			
	</style>

	     <div class="col-md-offset-3 col-md-5">
	      <div class="delete">
			    <form method="post" >

			    	{% csrf_token %}{# token de seguridad #}
			    	<h2><p class="help-block"></p>¿Desea eliminar el registro {{producto.nombre}} de la lista de pedido?</p></h2>
			    	<button class="botones btn btn-danger"type="submit">Si</button>
			    	<a class="botones btn btn-default"href="{% url 'productos:pedido_list' %}">Cancelar</a>
			    </form>
		   </div> 
	     </div>	
	</div>     
</div>  
  
{% endblock content %}