
{% extends 'empresas_index.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %} 
{% block extraheader %}
<link rel="stylesheet" href="{% static 'css/filtro.css' %}">
<script src="{% static  'Jquery/jquery-1.12.4.js' %}"></script>
<script src="{% static  'Jquery/datatables.min.js' %}"></script>
<script src="{% static  'Jquery/filtro.js' %}"></script>

{% endblock extraheader %}

{% block content %} 

<div class="fondo container-fluid col-md-7 offset-1">
			<br>
            <div class="container-fluid">
				<div class="card-header botones"> 
                    <h4>Stock por empresa</h4>
                </div>
                <br>
               
                    <form method="get">
                            
                                    {{ filter.form.empresa_proveedor|as_crispy_field}}
                                            
                        <button class="botones btn-primary"type="submit">Buscar</button>
                   
                    </form>
                    
               
            </div>
            <br>
           
                    
                    <div class="card col-md-11 offset-1" style="width: 30rem;">
                            <div class="card-body">
                                    
                             
                    
                            <div class="row">
                                <div class="col-sm-1 offset-1 botones badge 
                                border-primary">
                                    <h5 > 
                                        ID
                                    </h5>
                                </div>
                                
                                <div class="col-md-5 offset-1 botones badge 
                                border-primary ">
                                    <h5 class="text-center">
                                        ARTICULO
                                    </h5>
                                </div>
                                <div class="col-md-1 offset-1 botones badge 
                                border-primary">
                                    <h5>
                                        STOCK
                                    </h5>
                                </div>
                            </div>
                        
                            </div>
                   <br>
                                {% if object_list %}
                                {% for producto in filter.qs %}
                                <div class="card " style="width: 28rem;"> 

                                        <!-- <img src="..." class="card-img-top" alt="..."> -->
                                        <div class="card-body">
                                            
                                            <ul class="list-group-flush">
                                                <!-- <div class="container"> -->
                                                        <div class="row">
                                                            <div class="col-sm-1 botones badge badge-light
                                                            border-primary"">
                                                                <h5 > 
                                                                    {{producto.id}}
                                                                </h5>
                                                            </div>
                                                            
                                                            <div class="col-md-6 offset-1 botones badge badge-light
                                                            border-primary"">
                                                                <h5 class="text-center">
                                                                    {{producto.nombre}}
                                                                </h5>
                                                            </div>
                                                            <div class="col-md-1 offset-1 botones badge badge-light
                                                            border-primary"">
                                                                <h5>
                                                                    {{producto.inventario}}
                                                                </h5>
                                                            </div>
                                                           
                                                        </div>
                                                       
                                                </div>
                                                    
                                                   
                                                </ul>
                                             
                                           
                                </div>

                                <br>
                                    
                                
                             
            {% endfor %}
            {% else %}
            <div class="card" style="width: 30rem;">
                
                    <!-- <img src="..." class="card-img-top" alt="..."> -->
                    <div class="card-body">
                        
                        <ul class="list-group">
                            <div class="container">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <h5 class="text-center"> 
                                              No hay articulos
                                            </h5>
                                        </div>
                                    </div>   
                            </div>
                                
                                
                        </ul>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
            </div > 
         
            {% endif %}
<br>
<br>
<br>

       
    Hay  {% if object_list|length > 1 %}
    {{object_list|length}}{% comment %}
        Numero de productos obtenidos
    {% endcomment %}

    
    articulos encontrados...
            {% else %}
            {{object_list|length}}
            articulo encontrado
    {% endif %}
<br>
<br>

</div>
{% endblock content %}