{% extends 'index_perfil.html' %} 

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-5 offset-2 mt-3">
            <div id="formularios" class="bg-dark p-3 text-light border rounded border-3 border-dark">
                <form method="post">
                    {% csrf_token %} 
                    <div class="container">
                        <h3 class="text-center">Registro de Usuario</h3>
                        <p>Por favor, rellena este formulario para crear una cuenta de usuario.</p>
                        <hr>

                        <div class="form-group mb-1">
                            <label for="{{ form.username.id_for_label }}" class="form-label p-1">Usuario:</label>
                            <div class="p-1 col-6">
                                {{ form.username }}
                            </div>
                        </div>
                        
                        <div class="form-group mb-1">
                            <label for="{{ form.password1.id_for_label }}" class="form-label">Contraseña:</label>
                            <div class="p-1 col-6">
                                {{ form.password1 }}
                            </div>
                        </div>
                    
                        <div class="form-group mb-1">
                            <label for="{{ form.password2.id_for_label }}" class="form-label">Confirmar contraseña:</label>
                            <div class="p-1 col-6">
                                {{ form.password2 }}
                            </div>
                        </div>     

                        <hr>
                        <p>Al crear una cuenta, usted acepta nuestros <a href="#">Términos y condiciones</a>.</p>

                        <button type="submit" class="btn btn-secondary btn-block botones">Registrar usuario</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
