

# Django database
db.sqlite3

# Static files (collectstatic)
/static/

# Media files
/media/

# Local development settings
*.log
*.pot
*.pyc
*.bak
__pycache__/

# Ignore macOS system files
.DS_Store
