{% extends 'base/base_menu.html' %}

{% block title %}Ingresar{% endblock %}




  
       
		<div class="form-login">
	           
			{% if user.is_authenticated %}
				{% block content %}
						<div class="jumbotron col-md-8  offset-2">
						<h4 class="display-4">Bienvenid@ {{user.username}}</h4>
						<li class="lead">Como puedes encontrar nuesto manual de usuario.</li>
						<hr class="my-4">
						<li class="lead">Si esta logeado recuerda cerrar secion al terminar tu trabajo.</li>
						<br>
						<p class="lead">
							<a class="btn btn-primary btn-lg" href="{%url 'logout'%}" role="button">cerrar cesion</a>
						</p>
						</div>
						<style>
						.jumbotron{
							border-radius: 10px;
						}
						</style>
				{% endblock content%}

										
			{% else %}
					<a href="{% url 'login' %}" class="btn btn-primary">Ingresar</a> 
			
			{% endif %}


		</div>{# div form-login #}
			